<!DOCTYPE html>
<html>
	<head>
		<title>Christie Yu</title>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="/css/main.css">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
	</head>
	<body>
		<nav id="mynav">
			<span id="myname">CHRISTIE YU</span>
    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/templates/resume">Resume</a></li>
	        	<li><a href="/templates/portfolio" style="color:#ec008c">Portfolio</a></li>
        		<li><a href="https://github.com/christieyu?tab=repositories" target="_blank">Github</a></li>
        		<li><a href="/templates/contact">Contact</a></li>
			</ul>
    </nav>
      <div id="containerfull">
				<div style="padding:5px"></div>
        <p class="text-5">Directing <span style="color:#ec008c">Amoriem Labs</span></p>
      	<div>
					<p class="text-3">
						Over winter break of my first year at Yale, I paused in the middle of watching a playthrough of Toby Fox’s <i>Deltarune</i>, the sequel to his internet megahit indie game, <i>Undertale</i>. Toby Fox became a sort of legend in the game development world as the sole creator of <i>Undertale</i>, a college student who somehow had the coding, musical, artistic, storytelling, and marketing prowess to create one of the most influential indie games of all time.<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:60%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
							<figure style="margin:0">
								<center>
									<a href="/images/amoriem/undertale.gif" target="_blank"><img src="/images/amoriem/undertale.gif" alt="Image could not be loaded." style="width:100%; margin-bottom:5px"></a>
									<figcaption class="text-1"><i>Toby Fox breaks all normal bounds of games in Undertale. His game somehow keeps track of all your decisions, using each time you "save" your game not just as a user feature but also as a story plotpoint.</i></figcaption>
								</center>
							</figure>
					</div>
					<p class="text-3">
						<i>Undertale</i> sold over 3.5 million copies worldwide. One of the game’s main characters is currently playable in <i>Super Smash Bros</i>. And Toby Fox recently contributed music to <i>Pokemon Sword/Shield</i> as a guest composer.<br><br>

						I wondered whether us students at Yale had that same talent and ingenuity. The answer came immediately — we undeniably did, but alone I certainly could not accomplish what Toby did.<br><br>

						So I sent this email to our CS majors panlist, with one of my main worries being my then-lack of programming experience.<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:90%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
							<figure style="margin:0">
								<center>
									<a href="/images/amoriem/email.jpg" target="_blank"><img src="/images/amoriem/email.jpg" alt="Image could not be loaded." style="width:90%;"></a>
								</center>
							</figure>
					</div>
					<p class="text-3">
						I got over twenty responses from people saying they were so surprised that a Yale game studio had never been created before, and that they’d love to contribute their various skills. I hosted meetings every week in the spring semester, testing out our skills in <span style="color:#ec008c">programming, digital art, animation, music composition, storytelling, and game design</span>, and planning a proof of concept game release for Bulldog Days, Yale’s pre-frosh gathering in April.<br><br>

						A snapshot of our game:<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:100%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
							<figure style="margin:0">
								<center>
									<a href="/images/amoriem/amoriemdemo.gif" target="_blank"><img src="/images/amoriem/amoriemdemo.gif" alt="Image could not be loaded." style="width:100%;"></a>
									<figcaption class="text-1"><i>Our game featured local multiplayer, meaning two people can each control a character, one with WASD and the other with arrow keys. We created all assets from scratch, including the character sprites and animations!</i></figcaption>
								</center>
							</figure>
					</div>
					<p class="text-3">
						What we came up with was <span style="color:#ec008c">Amoriem</span>, which is an anagram of <i>memoria</i> (“memory” in Latin) and includes the words <i>amor</i> (“love” in Spanish) and <i>mori</i> (“to die” in Latin). This game was a dungeon-based local multiplayer game where two characters work together to escape levels.<br><br>
						Their story, slowly revealed through gameplay, was that they were twins involved in a car crash trying to regain their memories. The twist was that, despite needing to collaborate to finish each level, only one person could escape the final level and survive their coma.<br><br>
						We coded this game using <span style="color:#ec008c">Unity Game Engine</span>, which uses C#. To compose maps from map tiles, we used <span style="color:#ec008c">Tiled Map Editor</span>, and for all asset creation we used <span style="color:#ec008c">Adobe Photoshop</span>.<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:100%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
						<center>
							<figure style="margin:0">
								<a href="/images/amoriem/animation1.gif" target="_blank"><img src="/images/amoriem/animation1.gif" alt="Image could not be loaded." style="width:15%; padding-left:5%"></a>
								<a href="/images/amoriem/animation2.gif" target="_blank"><img src="/images/amoriem/animation2.gif" alt="Image could not be loaded." style="width:23%; padding-left:5%"></a>
								<a href="/images/amoriem/animation3.gif" target="_blank"><img src="/images/amoriem/animation3.gif" alt="Image could not be loaded." style="width:15%; padding-left:5%"></a>
								<a href="/images/amoriem/animation4.gif" target="_blank"><img src="/images/amoriem/animation4.gif" alt="Image could not be loaded." style="width:12%; padding-left:5%"></a>
								<figcaption class="text-1"><i>A few animations I made for the game using Adobe Photoshop. Since I was in charge of map design, I also decided on our colour theme.</i></figcaption>
							</figure>
						</center>
					</div>
					<p class="text-3">
						I personally specialise in non-human sprite creation and animation. In other words, I worked a lot with drawing and animating map assets. I also developed a centralized managing system for assets (which involved Trello, Dropbox, and Github).<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:90%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
							<figure style="margin:0">
								<center>
									<a href="/images/amoriem/amoriemtiles.jpg" target="_blank"><img src="/images/amoriem/amoriemtiles.jpg" alt="Image could not be loaded." style="width:100%;"></a>
									<figcaption class="text-1"><i>To make a map, you need to use tiles, which are repetitive assets we assembled in Tiled Map Editor. For this game, I made over 70 tiles and objects.</i></figcaption>
								</center>
							</figure>
					</div>
					<p class="text-3">
						In both April and August, we demo’ed this game to incoming first-years, hoping to attract students interested in indie games and wanting to learn more about game development. We got over <span style="color:#ec008c">90 sign-ups</span> — affirming my original instinct that there is a robust game-loving community at Yale!<br><br>

						In the meantime, we also worked on establishing ourselves as a campus presence. After working out the bureaucratic and financial logistics of being an officially registered club at Yale, we worked on rebranding ourselves.<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:90%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
							<figure style="margin:0">
							<center>
								<a href="/images/amoriem/logo1.jpg" target="_blank"><img src="/images/amoriem/logo1.jpg" alt="Image could not be loaded." style="width:49%;"></a>
								<a href="/images/amoriem/logo2.jpg" target="_blank"><img src="/images/amoriem/logo2.jpg" alt="Image could not be loaded." style="width:49%;"></a>
								<figcaption class="text-1"><i>I made this logo while practicing the pen tool on Illustrator.</i></figcaption>
							</center>
						</figure>
					</div>
					<p class="text-3">
						Originally, we called ourselves YGames (to avoid having to apply to use the Yale name). After the semester, we decided to rename ourselves to <span style="color:#ec008c">Amoriem Labs</span>, after our first game, and went through a couple iterations of a logo design. Finally, one of our first-years designed the logo below on the right for us:<br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:100%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
						<figure style="margin:0">
							<center>
								<a href="/images/amoriem/logo3.jpg" target="_blank"><img src="/images/amoriem/logo3.jpg" alt="Image could not be loaded." style="width:49%;"></a>
								<a href="/images/amoriem/logo4.jpg" target="_blank"><img src="/images/amoriem/logo4.jpg" alt="Image could not be loaded." style="width:49%;"></a>
								<figcaption class="text-1"><i>We were very nearly named "Donut Hole Studios," after the fact that I brought donut holes to every work session as a snack. I designed the logo on the left. One of our first-years submitted the logo on the right, which vertically looks like a skull with a heart (playing on the word Amoriem), and horizontally looks like the buttons on a console controller. Super cool!</i></figcaption>
							</center>
						</figure>
					</div>
					<p class="text-3">
						Today, we are working on a retro fighting game (think <i>Streetfighter</i>) called <span style="color:#ec008c"><i>Bulldog Bash</i></span>. The main characters are prominent Yale administrators and our mascot, Handsome Dan!<br><br>
					</p>
					<div data-aos="fade-up" data-aos-offset="20" data-aos-delay="50" data-aos-duration="2000" style="width:100%; height: auto; position: relative; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 10px">
						<figure style="margin:0">
							<center>
								<a href="/images/amoriem/bbdemo1.jpg" target="_blank"><img src="/images/amoriem/bbdemo1.jpg" alt="Image could not be loaded." style="width:50; padding-bottom:5px;"></a>
								<a href="/images/amoriem/bbdemo2.jpg" target="_blank"><img src="/images/amoriem/bbdemo2.jpg" alt="Image could not be loaded." style="width:70%; padding-bottom:5px;"></a>
								<a href="/images/amoriem/bbdemo3.jpg" target="_blank"><img src="/images/amoriem/bbdemo3.jpg" alt="Image could not be loaded." style="width:50%; padding-bottom:5px;"></a>
								<figcaption class="text-1"><i>Assets from our new game, which is more animation and UI heavy. Excited for this new project!</i></figcaption>
							</center>
						</figure>
					</div>
					<p class="text-3">
						From a directing standpoint, I am continually amazed by the talent and creativity passing through this club. We are so lucky to have the support and interest from students as we do, and I look forward to what we can accomplish in the coming year!<br><br>
					</p>
        </div>
      </div>
      <footer></footer>
			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		  <script>
		    AOS.init();
		  </script>
    </body>
  </html>
